<footer class="footer mt-6">
    <div class="has-text-centered has-shadow">
        <div class="columns">
            <div class="column is-6">
                <h4 class="title is-5 mb-3">Atmos Weather</h4>
                <p class="is-size-6">Your trusted source for accurate weather forecasts powered by advanced AI technology.</p>
            </div>
            <div class="column is-6">
                <h5 class="title is-5  mb-3">Contact Info</h5>
                <p class="is-size-6">Email: info@atmos-weather.com</p>
                <p class="is-size-6">Phone: +46 123 456 789</p>
                <p class="is-size-6">Stockholm, Sweden</p>
            </div>
        </div>
        <hr>
        <p class="is-size-7">© 2024 Atmos Weather. All rights reserved. | Weather data provided by OpenWeatherMap</p>
    </div>
</footer>